@media(min-width:801px)
{
    #maingrid{
        margin-top: 7%;
    }

}
@media(max-width:800px)
{
    #maingrid{
        margin-top: 22%;
    }
    
}
.lst-kix_18enz9dthgtd-5>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-1, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-2, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-3, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-4, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-5, decimal) ". "
}

.lst-kix_v0o2ijhy15nn-6>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-6
}

.lst-kix_18enz9dthgtd-4>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-1, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-2, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-3, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-4, decimal) ". "
}

.lst-kix_18enz9dthgtd-6>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-1, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-2, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-3, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-4, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-5, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-6, decimal) ". "
}

.lst-kix_v0o2ijhy15nn-0>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-0
}

ol.lst-kix_v0o2ijhy15nn-4.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-4 0
}

.lst-kix_18enz9dthgtd-1>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-1, decimal) ". "
}

.lst-kix_18enz9dthgtd-0>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) ". "
}

ol.lst-kix_18enz9dthgtd-2.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-2 0
}

.lst-kix_18enz9dthgtd-8>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-1, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-2, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-3, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-4, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-5, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-6, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-7, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-8, decimal) ". "
}

.lst-kix_18enz9dthgtd-7>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-1, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-2, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-3, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-4, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-5, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-6, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-7, decimal) ". "
}

ol.lst-kix_18enz9dthgtd-6.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-6 0
}

ol.lst-kix_v0o2ijhy15nn-1.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-1 0
}

ol.lst-kix_v0o2ijhy15nn-8.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-8 0
}

.lst-kix_18enz9dthgtd-5>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-5
}

ol.lst-kix_18enz9dthgtd-3.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-3 0
}

ol.lst-kix_18enz9dthgtd-5.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-5 0
}

.lst-kix_v0o2ijhy15nn-2>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-2
}

ol.lst-kix_v0o2ijhy15nn-5.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-5 0
}

.lst-kix_v0o2ijhy15nn-5>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-5
}

.lst-kix_18enz9dthgtd-6>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-6
}

.lst-kix_v0o2ijhy15nn-8>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-8
}

ol.lst-kix_v0o2ijhy15nn-2.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-2 0
}

.lst-kix_18enz9dthgtd-0>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-0
}

.lst-kix_18enz9dthgtd-3>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-3
}

.lst-kix_v0o2ijhy15nn-3>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-3
}

.lst-kix_v0o2ijhy15nn-4>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-4, lower-latin) ". "
}

.lst-kix_v0o2ijhy15nn-6>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-6, decimal) ". "
}

.lst-kix_v0o2ijhy15nn-3>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-3, decimal) ". "
}

.lst-kix_v0o2ijhy15nn-7>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-7, lower-latin) ". "
}

.lst-kix_18enz9dthgtd-2>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-2
}

ol.lst-kix_v0o2ijhy15nn-5 {
  list-style-type: none
}

ol.lst-kix_v0o2ijhy15nn-4 {
  list-style-type: none
}

ol.lst-kix_v0o2ijhy15nn-7 {
  list-style-type: none
}

ol.lst-kix_v0o2ijhy15nn-6 {
  list-style-type: none
}

ol.lst-kix_v0o2ijhy15nn-8 {
  list-style-type: none
}

.lst-kix_v0o2ijhy15nn-5>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-5, lower-roman) ". "
}

ol.lst-kix_18enz9dthgtd-0.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-0 0
}

ol.lst-kix_18enz9dthgtd-0 {
  list-style-type: none
}

ol.lst-kix_v0o2ijhy15nn-1 {
  list-style-type: none
}

ol.lst-kix_v0o2ijhy15nn-6.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-6 0
}

ol.lst-kix_v0o2ijhy15nn-0 {
  list-style-type: none
}

ol.lst-kix_v0o2ijhy15nn-3 {
  list-style-type: none
}

ol.lst-kix_v0o2ijhy15nn-2 {
  list-style-type: none
}

ol.lst-kix_18enz9dthgtd-6 {
  list-style-type: none
}

ol.lst-kix_18enz9dthgtd-5 {
  list-style-type: none
}

ol.lst-kix_18enz9dthgtd-8 {
  list-style-type: none
}

ol.lst-kix_18enz9dthgtd-7 {
  list-style-type: none
}

.lst-kix_v0o2ijhy15nn-8>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-8, lower-roman) ". "
}

ol.lst-kix_18enz9dthgtd-2 {
  list-style-type: none
}

ol.lst-kix_18enz9dthgtd-1 {
  list-style-type: none
}

.lst-kix_18enz9dthgtd-8>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-8
}

ol.lst-kix_18enz9dthgtd-4 {
  list-style-type: none
}

ol.lst-kix_18enz9dthgtd-3 {
  list-style-type: none
}

ol.lst-kix_18enz9dthgtd-8.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-8 0
}

ol.lst-kix_v0o2ijhy15nn-3.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-3 0
}

.lst-kix_18enz9dthgtd-1>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-1
}

.lst-kix_v0o2ijhy15nn-7>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-7
}

.lst-kix_18enz9dthgtd-4>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-4
}

ol.lst-kix_18enz9dthgtd-1.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-1 0
}

.lst-kix_18enz9dthgtd-7>li {
  counter-increment: lst-ctn-kix_18enz9dthgtd-7
}

ol.lst-kix_v0o2ijhy15nn-0.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-0 0
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

ol.lst-kix_18enz9dthgtd-7.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-7 0
}

.lst-kix_v0o2ijhy15nn-0>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-0, decimal) ". "
}

.lst-kix_v0o2ijhy15nn-4>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-4
}

.lst-kix_v0o2ijhy15nn-2>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-2, lower-roman) ". "
}

.lst-kix_18enz9dthgtd-2>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-1, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-2, decimal) ". "
}

.lst-kix_18enz9dthgtd-3>li:before {
  content: ""counter(lst-ctn-kix_18enz9dthgtd-0, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-1, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-2, decimal) "."counter(lst-ctn-kix_18enz9dthgtd-3, decimal) ". "
}

ol.lst-kix_18enz9dthgtd-4.start {
  counter-reset: lst-ctn-kix_18enz9dthgtd-4 0
}

.lst-kix_v0o2ijhy15nn-1>li {
  counter-increment: lst-ctn-kix_v0o2ijhy15nn-1
}

.lst-kix_v0o2ijhy15nn-1>li:before {
  content: ""counter(lst-ctn-kix_v0o2ijhy15nn-1, lower-latin) ". "
}

ol.lst-kix_v0o2ijhy15nn-7.start {
  counter-reset: lst-ctn-kix_v0o2ijhy15nn-7 0
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c6 {
  margin-left: 25pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c2 {
  margin-left: 40pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  margin-left: 40pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c3 {
  margin-left: 60pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c12 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    padding-left: 5pt;
    padding-right: 5pt;
    text-align: justify;
}

.c4 {
  padding-top: 10pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c17 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c14 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #0000ee;
  text-decoration: underline
}

.c13 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 40pt 40pt 40pt 40pt
}

.c9 {
  margin-left: 50pt;
  padding-left: 0pt
}

.c7 {
  padding: 0;
  margin: 0
}

.c10 {
  color: inherit;
  text-decoration: inherit
}

.c15 {
  margin-left: 25pt
}

.c11 {
  height: 11pt
}

.c16 {
  color: #ff0000
}

.c18 {
  margin-left: 50pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
