.footer-wrapper {
    margin-top: 1.5rem;
    background: black;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;
}

.backToTop {
    position: absolute;
    top: 0;
    margin-top: -1.5rem;

    border: 4px solid white;
    border-radius: 999px;

    color: white;
}

ion-button[shape=circle] {
    --border-radius: 50%;
    --background: #000;
    font-size: 10px !important;
    width: 47px;
    height: 47px;
}


.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webTitleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: white;
}

.webNavigation {
    color: #FFDC5F;
    text-transform: uppercase;
}

.contactLinks {
    display: flex;
    align-items: center;

    color: white;
    text-transform: uppercase;
    margin-top: 1.2rem;
}

ion-icon {
    font-size: 24px;
}

.socialLinks {
    margin-top: 1.2rem;
    color: white;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyrights {
    justify-content: center;

    background: #585858;
    color: #C2C2C2;

    margin-top: 2rem;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}