<ion-header class="headerWrapper">
    <ion-grid class="navbar">
        <ion-row class="navbar_left">
            <ion-text class="text-lg font-bold">myyba</ion-text>
            <ion-text class="text-sm tracking-[0.4em]">shops</ion-text>
        </ion-row>
        <ion-row class="navbar_right space-x-8 uppercase font-bold">
            <ion-text class="hover-underline-animation">
                Home
            </ion-text>
            <ion-text class="hover-underline-animation">
                Products & Services
            </ion-text>

            <ion-text class="hover-underline-animation">
                About
            </ion-text>
            <ion-text class="hover-underline-animation">
                Contact
            </ion-text>
        </ion-row>
    </ion-grid>
</ion-header>