.header-md::after {
    background: none; //disabled default header Shadow
}

.header-wrapper {
    display: flex;
    justify-content: center;

    background: white;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.75;

    padding: 1rem 0;
}

.webTitleSection {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.webNaviSection {
    display: flex;
}

.hover-underline-animation {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: black;
    transition: color 0.25s ease-out;
    cursor: pointer;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}