<ion-header class="header-wrapper">
    <ion-grid class="headerContainer">
        <ion-row class="webTitleSection">
            <ion-text class="text-2xl font-bold">myyba</ion-text>
            <ion-text class="text-sm font-light tracking-[0.7em] leading-[0.25rem]">shops</ion-text>
        </ion-row>
        <ion-row class="webNaviSection space-x-7 uppercase">
            <ion-text title="Home" class="text-lg hover-underline-animation">Home</ion-text>
            <ion-text title="Products & Service" class="text-lg hover-underline-animation">
                Products & Service
                <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-text>
            <ion-text title="About" class="text-lg hover-underline-animation">About</ion-text>
            <ion-text title="Careers" class="text-lg hover-underline-animation">Careers</ion-text>
        </ion-row>

    </ion-grid>

</ion-header>