.header-md::after {
    background: none; //disabled default header Shadow
}

#mainrow{
    width: 100%;
}
.headerWrapper {
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width: 1280px) {
    .navbar {
        justify-content: space-between;
    }
}
.navbar_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}
.navbar_left {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
    transition: color 0.25s ease-out;
    cursor: pointer;
}

.hover-underline-animation:hover {
    color: #303297;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #303297;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}