<ion-grid class="features_details-wrapper">
    <ion-row class="featuresDetails-Container space-y-7">
        <ion-row class="featureDetails" *ngFor="let featureDetail of featureAndDetails">
            <ion-row class="detailsText space-y-5">
                <ion-text class="font-medium text-xl uppercase">
                    {{featureDetail.questionTxt}}
                </ion-text>
                <ion-text class="text-lg">
                    {{featureDetail.detailAns}}
                </ion-text>
            </ion-row>
            <ion-img [src]="featureDetail.img"></ion-img>
        </ion-row>
    </ion-row>
</ion-grid>