<ion-grid class="storeTypesWrapper">
    <ion-row class="storeTypesHeading uppercase">
        <ion-text class="">
            PERSONALISED ONLINE STORE & ROBUST POS
        </ion-text>
    </ion-row>
    <ion-card class="storesMainContainer">
        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let store of stores">
                <ion-grid class="storesCarouselContainer">

                    <ion-img src="{{store.img}}" class="w-56 h-[28rem] object-contain"></ion-img>
                    <ion-text class="mt-9 text-black font-medium text-xl uppercase">{{store.storeType}}</ion-text>

                </ion-grid>
            </ion-slide>
        </ion-slides>
    </ion-card>
    <ion-row class="storeTypesOverview">
        <ion-text class="font-bold text-xl uppercase mt-5">E-commerce Website</ion-text>
        <ion-text class="text-lg">Get a power-packed e-commerce website & impress your customers with a beautiful store.</ion-text>
    </ion-row>
</ion-grid>