.serviceSectionTitle {
    justify-content: center;
    background: #EFEFEF;
    align-items: center;
    padding: 2rem 0;
}
.first-container{
    background-color: #EFEFEF;

}
.header{
  
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    text-transform: capitalize;
}
.second-container{
    background-color: white;

}
.about-container{
    padding: 0 11rem;
}
p{
    text-align: justify;
}
