.about-banner-wrapper {
    display: flex;
    justify-content: center;

    background: #EFEFEF;
}

.bannerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: .75;
    
    padding: 6.5rem 0;
}

.about-bannerContentContainer {
    display: flex;
    width: 22rem;
    
}

.visionAndMission-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 38rem;
    margin: 4rem auto;
    text-align: center;
}