<ion-content>
        <Header></Header>
        <ion-grid class="about-banner-wrapper">
                <ion-row class="bannerContainer">
                        <ion-row class="about-bannerContentContainer">
                                <ion-text class="font-bold text-lg">
                                        WHY WE THINK WE CAN MAKE IT BIG?
                                </ion-text>
                                <ion-row class="scopeOfProblem">
                                        <ion-text class="font-bold">SCOPE OF PROBLEM</ion-text>
                                        <ion-text>In the era of business owners scope of this problem is beyond our
                                                imagination numbers around this is unimaginable.</ion-text>
                                </ion-row>
                                <ion-row class="natureOfSolution">
                                        <ion-text class="font-bold">NATURE OF SOLUTION</ion-text>
                                        <ion-text>Nature of solution is omniverse, as bizz buddies we dont care of the
                                                nature, size & operations of business</ion-text>
                                        <ion-text>
                                                In short we can help you with everything you need to run your business
                                        </ion-text>
                                </ion-row>
                        </ion-row>
                        <ion-row class="bannerImage">
                                <ion-img src="/assets/newImages/aboutBanner.png" class="object-contain"></ion-img>
                        </ion-row>
                </ion-row>
        </ion-grid>

        <ion-grid class="visionAndMission-wrapper space-y-12">
                <ion-row class="ourVision justify-center">
                        <ion-text class="uppercase font-bold text-lg">Our Vision</ion-text>
                        <ion-text class="uppercase font-medium">WE WANT TO HELP INDIA’S SMALL AND MEDIUM BUSINESSES TO BE ABLE TO
                                SMOOTHLY ADAPT THE
                                TECHNOLOGY AND MAKE THE BEST OF IT FOR THEIR GROWTH AND SUCCESS. WE AIM TO BE THE
                                BIGGEST PIONEER FOR BRINGING THE NATION ONLINE </ion-text>
                </ion-row>
                <ion-row class="ourMission justify-center">
                        <ion-text class="uppercase font-bold text-lg">
                                Our Mission
                        </ion-text>
                        <ion-text class="uppercase font-medium">WE AIM TO HELP 5 MILLION SMALL & MEDIUM BUSINESSES TO SCALE WITH OUR PRODUCTS AND
                                SERVICES IN THE NEXT 10 YEARS</ion-text>
                </ion-row>

        </ion-grid>

        <Founders></Founders>
</ion-content>