<ion-content [scrollEvents]="true" *ngIf="data!=null">
    <Header id="header"></Header>

    <Banner [data]="data.metadata[0]"></Banner>

    <Stores [data]="data.shoptype"></Stores>

    <Features [data]="data.feature"></Features>

    <MyybaPlans [data]="data.subscriptions"></MyybaPlans>

    <ion-row class="serviceSectionTitle">
        <ion-text class="uppercase text-lg font-bold">
            Other Services
        </ion-text>
    </ion-row>

    <Myybaservices [data]="data.services"></Myybaservices>

    <Bussinesspartners [data]="data.client"></Bussinesspartners>

    <!-- <Testimony [data]="data.testimony"></Testimony> -->

    <ion-row class="demoSectionTitle">
        <ion-text class="uppercase text-lg font-bold">
            take a free demo
        </ion-text>
    </ion-row>

    <!-- <Takedemo></Takedemo>  //Instead banner as discussed in meet -->

    <Banner [data]="data.metadata[0]"></Banner>

    <Footer [data]="data.metadata[0]"></Footer>

</ion-content>