.banner-wrapper {
    display: flex;
    justify-content: center;

    background: #EFEFEF;
}

.bannerContainer {
    display: flex;
    align-items: center;
    flex: 0.75;
    justify-content: space-between;

    margin-top: 4rem;
    border-bottom: 1px black dashed;
}

.inputFieldSection{
    border-top: 1px #C2C2C2 dashed;
}

.reqDemoSection {
    max-width: 23rem;
}

.demoButton {
    display: flex;
    flex-direction: column;

    background: black;
    border-radius: 5px;
    max-width: 24rem;
    padding: .5rem;
    margin-top: .5rem;
}

ion-button.ion-color-black-demo{
    --background: #000;
    font-size: 1.125rem;
    letter-spacing: -0.025em;
}