<ion-grid class="banner-wrapper">
    <ion-row class="bannerContainer">
        <ion-row class="imgSection">
            <ion-img src="/assets/newImages/Handshake.png"></ion-img>
        </ion-row>
        <ion-row class="reqDemoSection">
            <ion-text class="text-2xl mb-3">
                Myyba Shops is everything your business needs to <ion-text class="font-bold">succeed</ion-text> under a
                single roof
            </ion-text>

            <ion-row class="inputFieldSection">
                <ion-text class="text-[#737373] text-sm mt-3">
                    Enter your number to request a <ion-text class="font-bold text-black italic">FREE</ion-text> demo
                </ion-text>
                <ion-row class="demoButton">
                    <ion-input type="tel" placeholder="Please enter your phone number" class="bg-white w-[22rem] rounded-sm"></ion-input>

                    <ion-button color="black-demo" class="demo-btn">
                        TAKE A FREE DEMO
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-button>
                </ion-row>
            </ion-row>
        </ion-row>
    </ion-row>

    <!-- <Stores></Stores> -->
</ion-grid>