<ion-grid class="demoSection-wrapper">
    <!-- <ion-row class="sectionTitle">
        <ion-text class="uppercase">
            Take a free demo
        </ion-text>
    </ion-row> -->
    <ion-row class="sectionContainer">
        <ion-row class="sectionInputs">
            <ion-text class="uppercase text-lg font-bold">
                Take a demo
            </ion-text>
            <ion-input placeholder="Please enter your name" class=""></ion-input>
            <ion-input placeholder="Please enter your phone number" class=""></ion-input>
            <ion-input placeholder="Please enter your city" class=""></ion-input>
            <ion-input placeholder="Please enter your business category" class=""></ion-input>
            <ion-input placeholder="Please enter your business name" class=""></ion-input>
            <ion-button class="demoSection-btn">
                Book a free demo
            </ion-button>
        </ion-row>
        <ion-row class="sectionImage">
            <ion-img src="/assets/newImages/Conversation.png"></ion-img>
        </ion-row>
    </ion-row>
</ion-grid>