.storeTypesHeading {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4.5rem;

    font-weight: 700;
    font-size: 24px;
    color: white;

    background: linear-gradient(93.16deg, #0010A0 22.15%, #52189C 55.27%, #580DA3 88.85%);

}

.storesCarouselContainer {
    margin: 1rem 2rem;

    display: flex;
}