.storeTypesWrapper {
    padding-top: 1rem;
    background: #EFEFEF;
}

.storeTypesHeading {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4.5rem;

    font-weight: 700;
    font-size: 24px;
    color: black;

    // background: linear-gradient(93.16deg, #0010A0 22.15%, #52189C 55.27%, #580DA3 88.85%);
}

.storesMainContainer {
    background: #EFEFEF;
    margin-bottom: 3rem;

    box-shadow: none !important;
}


.storesCarouselContainer {
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.storeTypesOverview {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 26rem;
    margin: 0 auto;
    text-align: center;
}