<ion-grid class="storeTypesWrapper">
    <ion-row class="storeTypesHeading uppercase">
        <ion-text class="">
            PERSONALISED ONLINE STORE & ROBUST POS
        </ion-text>
    </ion-row>
    <ion-card class="storesMainContainer w-full h-[90vh]">
        <ion-slides [options]="options">
            <ion-slide *ngFor="let store of stores">
                <ion-grid class="storesCarouselContainer">

                    <ion-img src="{{store.img}}" class="w-56 h-[28rem]"></ion-img>

                </ion-grid>
            </ion-slide>
        </ion-slides>


    </ion-card>
</ion-grid>