<ion-grid class="founders-wrapper">
    <!-- <ion-row class="sectionTitle">
        <ion-text class="uppercase font-bold text-lg">
            Founding Team
        </ion-text>
    </ion-row> -->
    <ion-row class="foundersContainer">
        <ion-row class="founderLeft">
            <ion-text class="name">ABHIJIT CHAUDHARY</ion-text>
            <ion-text class="info">With a strong background and technology and security, Abhijit leads the technology of
                Myyba Shops</ion-text>
            <ion-text>
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-text>
        </ion-row>
        <ion-row class="foundersAvatar">
            <ion-img src="/assets/newImages/Abhijitavatar.png"></ion-img>
            <ion-img src="/assets/newImages/Moxeshavatar.png"></ion-img>
        </ion-row>
        <ion-row class="founderRight">
            <ion-row class="name">MOXESH MEHTA</ion-row>
            <ion-row class="info">With deep expertise in product and analytics he drives the growth and operations of
                Myyba
                shops.</ion-row>
            <ion-row>
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-row>
        </ion-row>
    </ion-row>
</ion-grid>