<ion-grid class="myybaPlans-Wrapper">
    <ion-row class="myybaPlans-Container">
        <ion-row class="containerTitle">
            <ion-text class="text-lg font-bold">
                Pricing
            </ion-text>
        </ion-row>
        <ion-card class="plansSection">
            <!-- <ion-slides>
                <ion-slide>
                    <ion-row class="myybaPlansCarousel">
                        <ion-text class="uppercase">
                            1 month plan
                        </ion-text>
                    </ion-row>
                </ion-slide>
            </ion-slides> -->
            <ion-row class="myybaPlansCarousel">
                <ion-text id="planSpan" class="uppercase text-2xl font-semibold text-[#FFDC5F]">
                    1 month plan
                </ion-text>
                <ion-text id="planPrice" class="text-3xl text-white font-bold">
                    999*
                </ion-text>
                <ion-button color="backplan-btn" class="plan-btn">
                    Select a plan
                </ion-button>
            </ion-row>
        </ion-card>
    </ion-row>
</ion-grid>