<ion-grid class="myybaPlans-Wrapper">
    <ion-row class="myybaPlans-Container">
        <ion-row class="containerTitle">
            <ion-text class="text-lg font-bold">
                Pricing
            </ion-text>
        </ion-row>
        <ion-card class="plansSection">
            <!-- <ion-slides>
                <ion-slide *ngFor="let plan of plans">
                    <ion-row [ngClass]="{'border-gradient-recommended': plan.recommende==true}"
                        class="myybaPlansCarousel">
                        <ion-text id="planSpan" class="uppercase text-2xl font-semibold text-[#FFDC5F]">
                            {{plan.span}}
                        </ion-text>
                        <ion-text id="planPrice" class="text-3xl text-white font-bold">
                            {{plan.price}}
                        </ion-text>
                        <ion-button color="backplan-btn" class="plan-btn w-[90%]">
                            Select a plan
                        </ion-button>
                    </ion-row>
                </ion-slide>
            </ion-slides> -->
            <ion-row class="myybaPlansCarousel">
                <ion-text id="planSpan" class="uppercase text-2xl font-semibold text-[#FFDC5F]">
                    1 month plan
                </ion-text>
                <ion-row id="planPrices" class="flex flex-col items-center">
                    <ion-text id="discountedPrice" class="text-xl font-semibold line-through">
                        ₹2,999
                    </ion-text>
                    <ion-text id="price" class="text-2xl text-white font-bold">
                        ₹2,849*
                    </ion-text>
                </ion-row>
                <ion-button color="backplan-btn" class="plan-btn w-[90%]">
                    Select a plan
                </ion-button>
            </ion-row>
        </ion-card>
    </ion-row>
</ion-grid>